body
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}

.header,.hero,.footer
{   flex: 1 1 auto;
    background-color: #1F2937;
    color: white;
    display: flex;

}
.header-logo, .links
{
    margin: 0px 200px 0px 200px;
}

.header-logo
{
    color: #f9faf8;
    font-size: 24px;
}
.images img
{
    border: 3px solid #3882f6;
    border-radius: 20px;
    width: 160px;
    height: 160px;

}

.info,.images
{
    display:flex ;
    align-items: center ;
}

.info
{   
    flex-direction: column;
    padding: 100px;
    align-items: center;
}
.info h2
{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.image-text
{
    width: 160px;
}
.images
{   
    align-items: flex-start;
  gap: 50px;
}
.header,.header-logo, .links
{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 10px;
}

.hero
{
    display: flex;
    justify-content: center;
    padding: 70px;
    gap: 100px;
    align-items: center;
}

.hero img
{
    width: 400px;
    height: auto;
}
.hero-text button
{
    border-style: none;
}
.foot
{
    align-self: flex-end;
}
.header, .footer
{
    padding: 20px;
}
.hero-text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 300px;
}

.quote
{   
    color: #1F2937;
    background-color: #e5e7eb;
    font-family: "italic";
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 300px 100px 300px;

}
.quote-text
{
    font-size: 36px;
}
.quote-author
{
    font-size: 20px;
    font-weight: bolder;
    align-self: flex-end;
}
.action
{   width: 1000px;
    align-self: center;
    flex: 0 1 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    color: white;
}
.action-text, .action-button
{
    margin: 0px 50px 0px 50px;
}

button
{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: white;
    background-color: #3882f6;
}
.action-button
{ 
    
    border: 2px solid white;
}

.footer
{
    justify-content: center;
    align-items: center;
}