body
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}

.header,.hero,.footer
{   flex: 1 1 auto;
    background-color: #1F2937;
    color: white;
    display: flex;

}
.images img, button
{
    border-radius: 20px;
}
.images img
{
    width: 160px;
    height: 160px;
}

.info,.images
{
    display:flex ;
    align-items: center ;
}

.info
{   
    flex-direction: column;
}

.images
{
  gap: 50px;
}
.header,.header-logo, .links
{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 10px;
}

.hero
{
    display: flex;
    justify-content: center;
}

.hero img
{
    width: 400px;
    height: 150px;
}
.foot
{
    align-self: flex-end;
}
.header, .footer
{
    padding: 20px;
}